@using VibeWave.Models
@model Concert

<form method="post" class="row" asp-action="Create">
            <div class="border p-3">
                <div>
                    <h2>Create Concert</h2>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="ConcertName" class="ms-2"> </label>
                    <input asp-for="ConcertName" class="form-control border-0 shadow" />
                    <span asp-validation-for="ConcertName" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ActorName" class="ms-2"> </label>
                    <input asp-for="ActorName" class="form-control border-0 shadow" />
                    <span asp-validation-for="ActorName" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="ConcertLocation" class="ms-2"> </label>
                    <input asp-for="ConcertLocation" class="form-control border-0 shadow" />
                    <span asp-validation-for="ConcertLocation" class="text-danger"></span>
                </div>
        
                <div class="mb-3 row p-1">
                    <label asp-for="DisplayDate" class="ms-2"> </label>
                    <input asp-for="DisplayDate" class="form-control border-0 shadow" />
                    <span asp-validation-for="DisplayDate" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="DisplayTime" class="ms-2"> </label>
                    <input asp-for="DisplayTime" class="form-control border-0 shadow" />
                    <span asp-validation-for="DisplayTime" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="TicketPrice" class="ms-2"> </label>
                    <input asp-for="TicketPrice" class="form-control border-0 shadow" />
                    <span asp-validation-for="TicketPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="CategoryId" class="ms-2"> </label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control border-0 shadow">
                        <option disabled selected>--Select Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Concert" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
